/* スマホ表示767px */
/* サイト幅 77%*/
/*　スマホサイト幅 100%*/
/* max-width:1920px */

*{
	font-family: sans-serif;
	max-width: 1480px;
}
h1{
	font-size: 72px;
}
p2{
	font-size: 18px;
}

/* hover:０．７ */

/* backgroundcolor青: #043873 */

/* 青いボタンの色:#4f9cf9 */
/* ログインボタン:#ffe492 */