/* スマホ表示767px */
/* サイト幅 77%*/
/*　スマホサイト幅 100%*/
/* max-width:1920px */

*{
	font-family: sans-serif;
	max-width: 1480px;
}

header{
	background-color: #043873;
	color: white;
}

section{
	background-color: #043873;
	color: white;
}


h1{
	font-size: 72px;
}
p2{
	font-size: 18px;
}

/* hover:0.7 */

/* backgroundcolor青: #043873 */

/* 青いボタンの色:#4f9cf9 */
/* ボタンホバーは class =　btn で作る*/
/* ログインボタン:#ffe492 　黄色*/
/* 黄色ボタン　class= head-btn */

