/* スマホ表示767px */
/* サイト幅 77%*/
// $haba-width:77%;
// $haba-margin:0 auto;

/*　スマホサイト幅 100%*/
/* max-width:1920px */

/* @media (min-width: 1280px) {
	header, section, footer{
		padding: 1rem calc(50% - (1280px / 2));
	} */
/* } */
/* 全体 */
* {
	/* font-family: 'Inter'; */
	font-family: sans-serif;
	max-width: 1920px;
	letter-spacing: -0.02em;
	// text-align: center;
	/* background-color: #043873; */
	/* margin-left: 220px;
	margin-right: 220px;*/

}


/* ヘッダー */
header {
	height: 92px;
	background-color: #043873;
	color: white;
	display: flex;
	justify-content: flex-start;
	width: 100%;

}

.header-right ul {
	display: flex;
	align-items: center;
	padding: 16px 0;
	margin-right: 220px;
	margin-top: 10px;
}

.header-right li {
	padding: 0 10px;

}

.header-left {
	// margin-right: auto;
	text-align: center;
	// padding: 16px 0;
	// margin-left: 220px;
	margin-top: 20px;


}



/* 背景 */
.GMD {
	// height: 100vh;
	background-image: url(./Element.png);
	background-repeat: center;
	background-size: cover;
}

/* メイン */

section,
footer {
	background-color: #043873;
	color: white;
	padding: 140px 0;
	text-align: center;

}


section1
{
background-color: white;
padding: 140px 0;
text-align: center;

}

// フォントサイズ figmaのとおり
h1 {
	font-size: 72px;
	font-weight: 700;
}

h2 {
	font-size: 64px;
	font-weight: 700;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 25px;
}

p1 {
	font-size: 24px;
	font-weight: 400;
}

p2 {
	font-size: 18px;
	font-weight: 400;
}

p3 {
	font-size: 16px;
	font-weight: 400;
}


/* 文字の下ライン */
// /* PM */
.line1 {
	position: relative;

}

.line1 img {
	width: 600px;
	/* divの幅に対する割合 */
}

#line-1 {
	position: absolute;
	left: 0px;
	top: -180px;
}

// /* WT */
.line2 {
	position: relative;

}

.line2 img {
	margin-left: 210px;
	width: 350px;
	/* divの幅に対する割合 */
}

#line-2 {
	position: absolute;
	left: 0px;
	top: -80px;
}

// /* UAE */


.line3 {
	position: relative;

}

.line3 img {
	position: relative;
	width: 470px;
	right: -180px;
	/* divの幅に対する割合 */
}

#line-3 {
	position: absolute;
	left: 0px;
	top: -70px;

}

// // /* CI */

// .line4 {
// 	position:relative;

// }

// .line4 img {
// 	// position: relative;
// 	width: 50%;
// 	top: 10px;
// 	// /* divの幅に対する割合 */
// }

// #line-4 {
// 	position: absolute;
// 	left: 0px;
// // 	top: -70px;

// }

// // /*  CYP*/
// .line5 {
// 	position: relative;

// }

// .line5 img {
// 	position: absolute;
// 	top: -20px;
// 	width: 500px;
// }

// #line-5 {
// 	position: absolute;
// 	left: 400px;
// 	top: -100px;
// }
// #CYP{
// 	padding-top: 140px;
// }


/* 1 */
.dis {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 140px 0;
	text-align: left;
	gap: 60px;
}

.p {
	display: block;
}

/* 2 */
/* 背景指紋 */


.shimon {
	position: absolute;
	bottom: -800px;
	z-index: 10%;
}

#shimonp {
	position: relative;
	z-index: 100%;
}


.p {
	width: 50%;

}

.pic {
	width: 50%;

	&img {
		width: 100%;
	}
}


#UAEPIC,
#CIPIC {
	background-color: #C4DEFD;
}

.UAE-p {
	width: 697px;
}




/* 6 */


.plancontainer {
	display: flex;
	padding: 140px 0;

}

.plan {
	box-sizing: border-box;
	background: #FFFFFF;
	border: 1px solid #FFE492;
	border-radius: 10px;
	padding: 40px 44px;
	text-align: left;

}

.plan1 {
	text-align: center;
}

#personal {
	background-color: #043873;
	color: white;

}








/* backgroundcolor青: #043873 */
/* hover:0.7 */

/* 青いボタンの色:#4f9cf9 */
/* ボタンホバーは class =　btn で作る*/
.btn {
	background-color: #4f9cf9;
	border-radius: 8px;
	padding: 16px 24px;

	&:hover {
		opacity: 0.7;
	}
}


.GMD .btn {
	padding: 20px;

	&:hover {
		opacity: 0.7;
	}
}


.PM .btn,
.WT .btn,
.UAE .btn,
.CI .btn,
.container_1st .btn,
.container_2nd .btn,
.container_3rd .btn,
.container_4th .btn,
.container_5th .btn,
.container_6th .btn,
footer .btn {
	padding: 20px 40px;

	&:hover {
		opacity: 0.7;
	}
}

.CYP .btn {
	padding: 16px 40px;

	&:hover {
		opacity: 0.7;
	}
}


/* ログインボタン:#ffe492 　黄色*/
/* 黄色ボタン　class= head-btn */
.head-btn {
	background-color: #ffe492;
	border-radius: 8px;
	padding: 16px 40px;
}

.head-btn:hover {
	opacity: 0.7;
}


/* 全体のbox間を並べる */
.corners {
	display: flex;
	flex-direction: column;
}

/* shotaro's 最初 */
// .container_1st,
.container_4th,
.container_5th {
	/* margin: 0 auto; */
	padding: 120px 0;

}

.haba {
	margin: 0 auto;
	width: 77%;
}
// --7--
.container_1st{
	background-image: url(../../shotaro_pics/likeafingerprint.png),
	url(../../shotaro_pics/blue_underline.png);
	background-repeat: no-repeat, no-repeat;
	background-position: -3% 85%, 78% 33%;
}
// .container_1st .haba{
// 	position: relative;
// }

// .container_1st .fnp{
// 	position: absolute;
// 	left: -1028.81px;
// 	top: 281.47px;
// 	opacity: 0.2;
//  	transform: rotate(-105deg);

// }

.haba .detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 60px;
	
	h1{
		letter-spacing: -0.02em;
		line-height: 87px
	}
	p2{
		width: 1155px;
	}
	.text_detail{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		gap: 24px;
		isolation: isolate;
	}

}

.haba .btn {
	margin: 60px auto;
	width: 184px;
}

/* --8-- */
.container_2nd{
	display: flex;
	flex-direction: row;
	align-items: center;
	// padding: 140px 0;
	.haba {
		display: flex;
		padding: 0;
		text-align: start;
	}
	.words_line{
		display: flex;
		flex-direction: column;
		text-align: start;
		padding: 0px;
		gap: 60px;
		width: 55%;
	}	
	.words_text{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 24px;
		isolation: isolate;
	}
	.btn{
		margin: 1px 0;
		padding: 20px 40px;
		// justify-content: start;
	}
	.halffan{
		width: 45%;
	}
}


.haba .words {
	// flex-basis: 55%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

// .haba .halffan {
// 	flex-basis: 45%;
// }

/* --9-- */
.container_3rd{
	background-image: url(../../shotaro_pics/yellow_underline.png);
	background-repeat: no-repeat;
	background-position: 58% 35%;
}
.sponsors{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 140px 220px;
	gap: 100px;
	isolation: isolate;
}
.container_3rd .figures {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	gap: 100px;
}

/* --10-- */
.container_4th{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 140px 0;
	gap: 100px;
	isolation: isolate;
}
.exp {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.container_4th .img {
	width: 700px;
}

.container_4th img {
	width: 700px;
}
.image_apps{
	width: 582px;
}
.image_apps img{
	width: 582px;
}

/* --11-- */
.container_5th h1 {
	margin-bottom: 40px;
}

.container_5th .boxes {
	display: flex;
	// justify-content: space-around;
}
.boxes{
	gap: 38px;
}
.box1,
.box2,
.box3 {
	border-radius: 10px;
	padding: 40px 20px;
	.info_persona p1{
		padding-bottom: 15px;
	}
}
.box1{
	box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
	.info {
		padding-bottom: 20px;
		border-bottom: 1px solid black; 
	}
}

.box2,
.box3 {
	background-color: #4F9CF9;
	color: #ffff;
	.info_persona p1{
		color: black;
	}
}



.box1 .info {
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

.box2 .info {
	padding-bottom: 20px;
	border-bottom: 1px solid #ffff;
}

.box3 .info {
	padding-bottom: 20px;
	border-bottom: 1px solid #ffff;
}

.info img {
	margin-bottom: 15px;
}

.container_5th .slider_img {
	margin-top: 40px;
}

.persona {
	padding-top: 40px;
	display: flex;
}

.img_persona {
	width: 200px;
}

.img_persona img {
	width: 200px;
}


/* --12-- */
.container_6th,
footer {
	padding: 120px 40px 0 40px;
}

.container_6th h1 span {
	display: block;
}

.container_6th .haba{
	display: flex;
	flex-direction: column;
	.app-icon img{
		width: 50px;
	}
}

// footer
.informacion{
	display: flex;
}
// .aboutlogo p2{
// 	margin-top: 15px;
// }

.btm{
	display: flex;
	justify-content: space-between;
	padding: 32px 0;
	height: 20px;
	.terms_condition{
		display: flex;
		p3{
			margin-right: 60px;
		}
	}
	.social_icons{
		display: flex;
		flex-direction: row;
		gap: 32px;
		height: 20px;
	}
	.language{
		gap: 60px;
	}

}