@charset "UTF-8";
/* スマホ表示767px */
/* サイト幅 77%*/
/*　スマホサイト幅 100%*/
/* max-width:1920px */
/* @media (min-width: 1280px) {
	header, section, footer{
		padding: 1rem calc(50% - (1280px / 2));
	} */
/* } */
/* 全体 */
* {
  /* font-family: 'Inter'; */
  font-family: sans-serif;
  max-width: 1920px;
  /* background-color: #043873; */
  /* margin-left: 220px;
  margin-right: 220px;*/
}

/* ヘッダー */
header {
  height: 92px;
  background-color: #043873;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.header-right ul {
  display: flex;
  align-items: center;
  padding: 16px 0;
  margin-right: 220px;
  margin-top: 10px;
}

.header-right li {
  padding: 0 10px;
}

.header-left {
  margin-right: auto;
  text-align: center;
  padding: 16px 0;
  margin-left: 220px;
  margin-top: 20px;
}

/* 背景 */
.GMD {
  height: 100vh;
  background-image: url(./Element.png);
  background-repeat: center;
  background-size: cover;
}

/* メイン */
section,
footer {
  background-color: #043873;
  color: white;
  padding: 140px 0;
  text-align: center;
}

section1 {
  background-color: white;
  padding: 140px 0;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 25px;
}

p1 {
  font-size: 24px;
  font-weight: 400;
}

p2 {
  font-size: 18px;
  font-weight: 400;
}

p3 {
  font-size: 16px;
  font-weight: 400;
}

/* 文字の下ライン */
/* 1 */
.dis {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 140px 0;
  text-align: left;
}

.p {
  display: block;
}

/* 2 */
.p {
  width: 50%;
}

.pic {
  width: 50%;
}
.picimg {
  width: 100%;
}

.UAE-p {
  width: 697px;
}

/* 6 */
.plancontainer {
  display: flex;
  padding: 140px 0;
}

.plan {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 10px;
  padding: 40px 44px;
  text-align: left;
}

.plan1 {
  text-align: center;
}

#personal {
  background-color: #043873;
  color: white;
}

/* backgroundcolor青: #043873 */
/* hover:0.7 */
/* 青いボタンの色:#4f9cf9 */
/* ボタンホバーは class =　btn で作る*/
.btn {
  background-color: #4f9cf9;
  border-radius: 8px;
  padding: 16px 24px;
}
.btn:hover {
  opacity: 0.7;
}

.GMD .btn {
  padding: 20px;
}
.GMD .btn:hover {
  opacity: 0.7;
}

.PM .btn,
.WT .btn,
.UAE .btn,
.CI .btn,
.container_1st .btn,
.container_2nd .btn,
.container_3rd .btn,
.container_4th .btn,
.container_5th .btn,
.container_6th .btn,
footer .btn {
  padding: 20px 40px;
}
.PM .btn:hover,
.WT .btn:hover,
.UAE .btn:hover,
.CI .btn:hover,
.container_1st .btn:hover,
.container_2nd .btn:hover,
.container_3rd .btn:hover,
.container_4th .btn:hover,
.container_5th .btn:hover,
.container_6th .btn:hover,
footer .btn:hover {
  opacity: 0.7;
}

.CYP .btn {
  padding: 16px 40px;
}
.CYP .btn:hover {
  opacity: 0.7;
}

/* ログインボタン:#ffe492 　黄色*/
/* 黄色ボタン　class= head-btn */
.head-btn {
  background-color: #ffe492;
  border-radius: 8px;
  padding: 16px 40px;
}

.head-btn:hover {
  opacity: 0.7;
}

/* 全体のbox間を並べる */
.corners {
  display: flex;
  flex-direction: column;
}

/* shotaro's 最初 */
.container_1st,
.container_2nd,
.container_3rd,
.container_4th,
.container_5th {
  /* margin: 0 auto; */
  padding: 120px 40px;
}

.haba {
  margin: 0 auto;
  width: 77%;
}

.haba .detail {
  margin: 0 auto;
  width: 77%;
}

.haba .btn {
  margin-top: 60px;
}

/* --8-- */
.container_2nd .haba {
  display: flex;
  padding: 0;
}

.haba .words {
  flex-basis: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.haba .halffan {
  flex-basis: 45%;
}

/* --9-- */
.container_3rd .figures {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

/* --10-- */
.container_4th .haba {
  display: flex;
}

.exp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.container_4th .img {
  width: 700px;
}

.container_4th img {
  width: 700px;
}

/* --11-- */
.container_5th h1 {
  margin-bottom: 40px;
}

.container_5th .boxes {
  display: flex;
}

.box1,
.box2,
.box3 {
  border-radius: 10px;
  padding: 40px 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.box2,
.box3 {
  background-color: #4F9CF9;
  color: white;
}

.box1 .info {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.box2 .info {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.box3 .info {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.info img {
  margin-bottom: 15px;
}

.container_5th .slider_img {
  margin-top: 40px;
}

.persona {
  padding-top: 40px;
  display: flex;
}

.img_persona {
  width: 200px;
}

.img_persona img {
  width: 200px;
}

/* --12-- */
.container_6th,
footer {
  padding: 120px 40px 0 40px;
}

.container_6th h1 span {
  display: block;
}

.container_6th .haba {
  display: flex;
  flex-direction: column;
}
.container_6th .haba .app-icon img {
  width: 50px;
}

.informacion {
  display: flex;
}

.btm {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  height: 20px;
}
.btm .terms_condition {
  display: flex;
}
.btm .terms_condition p3 {
  margin-right: 60px;
}
.btm .social_icons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 20px;
}
.btm .language {
  gap: 60px;
}/*# sourceMappingURL=style.css.map */