@charset "UTF-8";
/* スマホ表示767px */
/* サイト幅 77%*/
/*　スマホサイト幅 100%*/
/* max-width:1920px */
/* 全体 */
* {
  /* font-family: 'Inter'; */
  font-family: sans-serif;
  max-width: 1920px;
  letter-spacing: -0.02em;
  /* background-color: #043873; */
  /* margin-left: 220px;
  margin-right: 220px;*/
}

@media screen and (max-width: 767px) {
  * {
    max-width: 767px;
  }
}
header {
  height: 92px;
  background-color: #043873;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 220px;
}

.header-right {
  margin-right: 220px;
}

.header-right ul {
  display: flex;
  align-items: center;
}

.header-right li {
  padding: 0 10px;
}

.header-left {
  text-align: center;
  margin-top: 20px;
  margin-left: 220px;
}

/* メイン */
section {
  background-color: #043873;
  color: white;
  padding: 140px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  section {
    background-color: #043873;
    color: white;
    padding: 100px 16px;
    text-align: center;
  }
}
section1 {
  background-color: white;
  padding: 140px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  section {
    background-color: #043873;
    color: white;
    padding: 100px 16px;
    text-align: center;
  }
}
h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 25px;
}

p1 {
  font-size: 24px;
  font-weight: 400;
}

p2 {
  font-size: 18px;
  font-weight: 400;
}

p3 {
  font-size: 16px;
  font-weight: 400;
}

/* フォントサイズレスポンシブ */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
    font-weight: 350;
  }
  h2 {
    font-size: 32px;
    font-weight: 350;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 13px;
  }
  p1 {
    font-size: 12px;
    font-weight: 200;
  }
  p2 {
    font-size: 9px;
    font-weight: 200;
  }
  p3 {
    font-size: 8px;
    font-weight: 200;
  }
}
/* 文字の下ライン */
.line1 {
  position: relative;
}

.line1 img {
  width: 600px;
  /* divの幅に対する割合 */
}

#line-1 {
  position: absolute;
  left: 0px;
  top: -180px;
}

.line2 {
  position: relative;
}

.line2 img {
  margin-left: 210px;
  width: 350px;
  /* divの幅に対する割合 */
}

#line-2 {
  position: absolute;
  left: 0px;
  top: -80px;
}

.line3 {
  position: relative;
}

.line3 img {
  position: relative;
  width: 470px;
  right: -180px;
  /* divの幅に対する割合 */
}

#line-3 {
  position: absolute;
  left: 0px;
  top: -70px;
}

.line4 {
  position: relative;
}

.line4 img {
  position: absolute;
  width: 50%;
  top: 100px;
  left: 300px;
}

/* 1 */
.dis {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 140px 0;
  text-align: left;
  gap: 60px;
}

.p {
  display: block;
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
  .dis {
    display: block;
    text-align: center;
  }
}
/* 2 */
/* 背景指紋 */
.shimon {
  position: absolute;
  bottom: -800px;
  z-index: 10%;
}

#shimonp {
  position: relative;
  z-index: 100%;
}

.p {
  width: 50%;
}

.pic {
  width: 50%;
}
.picimg {
  width: 100%;
}

#UAEPIC,
#CIPIC {
  background-color: #C4DEFD;
}

.UAE-p {
  width: 697px;
}

/* 6 */
.plancontainer {
  display: flex;
  padding: 140px 0;
}

.plan {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 10px;
  padding: 40px 44px;
  text-align: left;
}

.plan1 {
  text-align: center;
}

#personal {
  background-color: #043873;
  color: white;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
  .plancontainer {
    display: block;
    text-align: center;
  }
}
/* backgroundcolor青: #043873 */
/* hover:0.7 */
/* 青いボタンの色:#4f9cf9 */
/* ボタンホバーは class =　btn で作る*/
.btn {
  background-color: #4f9cf9;
  border-radius: 8px;
  padding: 16px 24px;
}
.btn:hover {
  opacity: 0.7;
}

.GMD .btn {
  padding: 20px;
}
.GMD .btn:hover {
  opacity: 0.7;
}

.PM .btn,
.WT .btn,
.UAE .btn,
.CI .btn,
.container_1st .btn,
.container_2nd .btn,
.container_3rd .btn,
.container_4th .btn,
.container_5th .btn,
.container_6th .btn,
footer .btn {
  padding: 20px 40px;
}
.PM .btn:hover,
.WT .btn:hover,
.UAE .btn:hover,
.CI .btn:hover,
.container_1st .btn:hover,
.container_2nd .btn:hover,
.container_3rd .btn:hover,
.container_4th .btn:hover,
.container_5th .btn:hover,
.container_6th .btn:hover,
footer .btn:hover {
  opacity: 0.7;
}

.CYP .btn {
  padding: 16px 40px;
}
.CYP .btn:hover {
  opacity: 0.7;
}

/* ログインボタン:#ffe492 　黄色*/
/* 黄色ボタン　class= head-btn */
.head-btn {
  background-color: #ffe492;
  border-radius: 8px;
  padding: 16px 40px;
}

.head-btn:hover {
  opacity: 0.7;
}

/* 全体のbox間を並べる */
.corners {
  display: flex;
  flex-direction: column;
}

/* shotaro's 最初 */
.haba {
  margin: 0 auto;
  width: 77%;
}

.container_1st {
  background-image: url(../../shotaro_pics/likeafingerprint.png), url(../../shotaro_pics/blue_underline.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 75%, 78% 37%;
  background-size: 472px, 353px;
  background-blend-mode: lighten;
}

.haba .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 60px;
  /* --8-- */
  /* --9-- */
  /* --10-- */
  /* --11-- */
  /* --12-- */
}
.haba .detail HEAD h1 {
  letter-spacing: -0.02em;
}
.haba .detail HEAD h1 h1 {
  line-height: 87px;
}
.haba .detail HEAD h1 p2 {
  width: 1155px;
}
.haba .detail HEAD h1 .text_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
}
.haba .detail .haba .btn {
  margin: 0 auto;
  width: 184px;
}
@media screen and (max-width: 767px) {
  .haba .detail .container_1st {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 16px 140px;
    background-image: url(../../shotaro_pics/blue_underline.png);
    background-position: 50% 31%;
    background-size: 170px;
  }
  .haba .detail .container_1st .haba {
    width: 100%;
  }
  .haba .detail .container_1st .haba .detail {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
  }
  .haba .detail .container_1st .haba .detail .text_detail {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    text-align: center;
  }
  .haba .detail .container_1st .haba .detail .text_detail h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  .haba .detail .container_1st .haba .detail .text_detail h1 span {
    display: block;
  }
  .haba .detail .container_1st .haba .detail .text_detail p2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  .haba .detail .container_1st .haba .detail .text_detail p2 span {
    display: block;
  }
}
.haba .detail .container_2nd {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../../shotaro_pics/yellow_underline.png);
  background-repeat: no-repeat;
  background-position: 23% 37%;
  background-size: 379px;
}
.haba .detail .container_2nd .haba {
  display: flex;
  padding: 0;
  text-align: start;
}
.haba .detail .container_2nd .words_line {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0px;
  gap: 60px;
  width: 55%;
}
.haba .detail .container_2nd .words_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
}
.haba .detail .container_2nd .btn {
  margin: 1px 0;
  padding: 20px 40px;
}
.haba .detail .container_2nd .halffan {
  width: 45%;
}
.haba .detail .haba .words {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.haba .detail .container_3rd {
  background-image: url(../../shotaro_pics/yellow_underline.png);
  background-repeat: no-repeat;
  background-position: 58% 35%;
}
.haba .detail .sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px;
  gap: 100px;
  isolation: isolate;
}
.haba .detail .container_3rd .figures {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 100px;
}
.haba .detail .container_4th {
  padding: 140px 0;
  background-image: url(../../shotaro_pics/wave.png);
  background-repeat: no-repeat;
}
.haba .detail .container_4th .haba {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 100px;
  isolation: isolate;
}
.haba .detail .exp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  width: 55%;
}
.haba .detail .exp .btn {
  margin: 60px 1px;
}
.haba .detail .image_apps {
  width: 45%;
}
.haba .detail .container_5th {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 0;
  gap: 60px;
  isolation: isolate;
  background-image: url(../../shotaro_pics/yellow_underline.png);
  background-repeat: no-repeat;
  background-position: 71% 19%;
  background-size: 280px;
}
.haba .detail .container_5th h1 {
  letter-spacing: normal;
  margin-bottom: 60px;
}
.haba .detail .container_5th .boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}
.haba .detail .container_5th .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px 0 40px;
  gap: 32px;
}
.haba .detail .container_5th .text {
  text-align: start;
}
.haba .detail .persona {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 60px 40px;
  gap: 42px;
}
.haba .detail .persona .info_persona {
  text-align: start;
}
.haba .detail .box1,
.haba .detail .box2,
.haba .detail .box3 {
  border-radius: 10px;
}
.haba .detail .box1 .info_persona p1,
.haba .detail .box2 .info_persona p1,
.haba .detail .box3 .info_persona p1 {
  padding-bottom: 15px;
}
.haba .detail .box1 {
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}
.haba .detail .box1 .info {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.haba .detail .box2,
.haba .detail .box3 {
  background-color: #4F9CF9;
  color: white;
}
.haba .detail .box2 .info_persona p1,
.haba .detail .box3 .info_persona p1 {
  color: black;
}
.haba .detail .box1 .info {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.haba .detail .box2 .info {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.haba .detail .box3 .info {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.haba .detail .info img {
  margin-bottom: 15px;
}
.haba .detail .container_5th .slider_img {
  margin-top: 40px;
}
.haba .detail .img_persona {
  width: 200px;
}
.haba .detail .img_persona img {
  width: 200px;
}
.haba .detail .container_6th {
  padding: 140px 0 32px 0;
}
.haba .detail .container_6th .haba {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
}
.haba .detail .container_6th .haba h1 span {
  display: block;
}
.haba .detail .container_6th .haba .btn {
  padding: 20px 40px;
  width: 220px;
}
.haba .detail .container_6th .haba .app-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}
.haba .detail .informacion {
  display: flex;
}
.haba .detail .btm {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  height: 20px;
}
.haba .detail .btm .terms_condition {
  display: flex;
}
.haba .detail .btm .terms_condition p3 {
  margin-right: 60px;
}
.haba .detail .btm .social_icons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 20px;
}
.haba .detail .btm .language {
  gap: 60px;
}
.haba .detail footer section {
  background-color: #043873;
  color: white;
  text-align: center;
  padding: 140px 0 32px;
}
.haba .detail footer section .haba {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
  isolation: isolate;
}
.haba .detail footer section .haba .informacion {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
}
.haba .detail footer section .haba .aboutlogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.haba .detail footer section .haba .aboutlogo p2 {
  width: 250px;
  text-align: start;
}
.haba .detail footer section .haba .aboutproduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  text-align: start;
}
.haba .detail footer section .haba .aboutproduct p2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.haba .detail footer section .haba .aboutproduct p3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.haba .detail footer section .haba .aboutproduct p3:first-of-type {
  color: #FFE492;
}
.haba .detail footer section .haba .aboutproduct p3:last-of-type {
  width: 200px;
}
.haba .detail footer section .haba .aboutresource,
.haba .detail footer section .haba .aboutcompany {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 190px;
  text-align: start;
}
.haba .detail footer section .haba .aboutresource p2,
.haba .detail footer section .haba .aboutcompany p2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.haba .detail footer section .haba .aboutresource p3,
.haba .detail footer section .haba .aboutcompany p3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.haba .detail footer section .haba .trybtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 23px;
  text-align: start;
  width: 270px;
}
.haba .detail footer section .haba .trybtn h5 {
  font-size: 28px;
  font-weight: 700;
}
.haba .detail footer section .haba .trybtn p3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.haba .detail footer section .haba .trybtn .btn {
  width: 200px;
  margin: 1px 0;
}
.haba .detail footer section .haba .btm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 32.93px;
  border-top: solid 1px #2E4E73;
  gap: 624px;
}
.haba .detail footer section .haba .btm .terms_condition {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 60px;
}
.haba .detail footer section .haba .btm .language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 6px;
}
.haba .detail footer section .haba .btm .language img {
  gap: 4px;
}
.haba .detail footer section .haba .btm .social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}/*# sourceMappingURL=style.css.map */